@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Modal.cshtml";
}
<div class="parallax-container" style="height: 150px;">
    <div class="parallax"><img src="~/assets/imgs/front.jpg"></div>
</div>

<div class="col s12 divider" ></div>

<div class="col s12 divider"></div>

<div class="container" style="padding-top: 20px;">
    <img src="~/assets/imgs/org-chart.png" />
    <div class="company-details col s12">
        <div class="row">
            <div class="col s12">
                @*<h5>About the Company</h5>*@
                <p>
                    <h3>ON Semiconductor Philippines</h3>
                    <h5>Luisita Industrial Park, Special Export Processing Zone, San Miguel, Tarlac 2300</h5>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col s4">
                <p>
                    Contact Number: +63 (45) 985 0564
                </p>
            </div>
            <div class="col s4">

                @*<p>
                        We deliver high quality, energy efficient semiconductor solutions that enable customer innovations through a diverse workforce committed to operating in an ethical and socially responsible manner.
                    </p>*@
            </div>
            <div class="col s4">
                @*<p>
                        We will exceed customer expectations with our superior products and services.
                    </p>*@
            </div>
        </div>

    </div>
</div>
<div class="col s12 divider"></div>
<div class="row" style="text-align:center">
    <p>APPLICATIONS ENGINEERING© 2020</p>
</div>
@*<div class="parallax-container" style="height: 300px;">
    <div class="parallax"><img src="~/assets/imgs/home.jpg"></div>
</div>*@


