@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Modal.cshtml";
}
<div class="parallax-container" style="height: 300px;">
    <div class="parallax"><img src="~/assets/imgs/home.jpg"></div>
</div>

<div class="col s12 divider"></div>

<div class="container">
    <div class="company-details col s12">
        <div class="row">
            <div class="col s12">
                <h5>About the Company</h5>
                <p>
                    ON Semiconductor (Nasdaq: ON) is driving energy efficient innovations, empowering customers to reduce global energy use. The company is a leading supplier of semiconductor-based solutions, offering a comprehensive portfolio of energy efficient power management, analog, sensors, logic, timing, connectivity, discrete, SoC and custom devices. The company's products help engineers solve their unique design challenges in automotive, communications, computing, consumer, industrial, medical, aerospace and defense applications. ON Semiconductor operates a responsive, reliable, world-class supply chain and quality program, a robust compliance and ethics program, and a network of manufacturing facilities, sales offices and design centers in key markets throughout North America, Europe and the Asia Pacific regions.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col s4">
                <h5>Our Vision</h5>
                <p>
                    To be the trusted supplier of choice for energy efficient electronics innovations.
                </p>
            </div>
            <div class="col s4">
                <h5>Our Mission</h5>
                <p>
                    We deliver high quality, energy efficient semiconductor solutions that enable customer innovations through a diverse workforce committed to operating in an ethical and socially responsible manner.
                </p>
            </div>
            <div class="col s4">
                <h5>Global Quality Policy</h5>
                <p>
                    We will exceed customer expectations with our superior products and services.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="col s12 divider"></div>

<div class="row">
    <div class="col s4">
        <div class="card">
            <div class="card-image">
                <img src="images/sample-1.jpg">
                <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
                <p>
                    I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.
                </p>
            </div>
            <div class="card-action">
                <a href="#">This is a link</a>
            </div>
        </div>
    </div>
</div>
